#topnav {
    width:100%;
    text-align:center;
    background-color;
    height:24px;
    color:#FFFFFF;
    cursor: pointer;
    }
#topnav a {
    color:red;
    text-decoration: none;
    }
    #topnav a:hover {
        text-decoration: underline;
        }
    #container {
        ;
        }
    #content {
        padding: 10px;
        }
    footer {
        font-size: .7em;
        text-align: right;
        }
    #logo{
        background-color: blue; 
        border: 1px solid red;
        border-width: 1px;
    }