h1{
    background: yellowgreen;
    color: black;
    font-size:1.5em;
    font-family: Arial, Verdana, sans-serif;
}
hr {
    color: blue;
    width: thick;
}
body {
    font-size: 12px;
    color: brown;
    font-family: Tahoma, Bodoni, sans-serif;
    line-height: 1em;
    background: yellow;
}
#buttons {
    background-color:;
}
#gender {
    background-color: plum;
    font-size: 2em; 
}